node_modules/
.env
.DS_Store
npm-debug.log*
__pycache__/
*.py[cod]
.venv/
public/Photos/*
!public/Photos/.gitkeep
!public/Photos/yearbook/
!public/Photos/yearbook/.gitkeep
!public/Photos/yearbook/*.png
!public/Photos/yearbook/*.pdf
